include LICENSE
include README.md
recursive-include inginious-problems-blockly/static *
recursive-include inginious-problems-blockly/templates *
recursive-include inginious-problems-network-trace/i18n *
